@model ManualPaginApp.Models.IndexViewModel
@using ManualPaginApp.Helpers
@{
    ViewBag.Title = "Home Page";
}


<div style="margin-bottom: 10px" class="row">
    <div class="col-md-4">
        <h3 id="h3" class="text-center">Итальянская</h3>
        <img class="img-responsive" src="~/Content/pizza.jpg" />
        <p class="text-center">Цена: 250р  Размер: 24см Тесто: тонкое</p>
        <p class="text-right">Добавить в корзину</p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Итальянская</h3>
        <img class="img-responsive" src="~/Content/pizza.jpg" />
        <p class="text-center">Цена: 250р  Размер: 24см Тесто: тонкое</p>
        <p class="text-right">Добавить в корзину</p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Итальянская</h3>
        <img class="img-responsive" src="~/Content/pizza.jpg" />
        <p class="text-center">Цена: 250р  Размер: 24см Тесто: тонкое</p>
        <p class="text-right">Добавить в корзину</p>
    </div>
</div>
<div style="margin-bottom: 15px; align-items: baseline" class="row">
    <div class="col-md-4">
        <h3 class="text-center">Итальянская</h3>
        <img class="img-responsive" src="~/Content/pizza.jpg" />
        <p class="text-center">Цена: 250р  Размер: 24см Тесто: тонкое</p>
        <p class="text-right">Добавить в корзину</p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Итальянская</h3>
        <img class="img-responsive" src="~/Content/pizza.jpg" />
        <p class="text-center">Цена: 250р  Размер: 24см Тесто: тонкое</p>
        <p class="text-right">Добавить в корзину</p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Итальянская</h3>
        <img class="img-responsive" src="~/Content/pizza.jpg" />
        <p class="text-center">Цена: 250р  Размер: 24см Тесто: тонкое</p>
        <p class="text-right">Добавить в корзину</p>
    </div>
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
    </div>
</div>